<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content="Tom's personal website"/>
  <meta name="author" content="Tom"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <title>FP Website</title>
</head>
<body class="d-flex flex-column h-100">
<nav class="navbar navbar-expand-sm bg-secondary">    
  <div class="container-fluid bg-secondary">
    <ul class="nav justify-content-start">
      <li class="nav-item text-white bg-secondary">
        <a class="nav-link gold_hover" href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="nav-item text-white bg-secondary">
        <a class="nav-link gold_hover" href="{{ url_for('prog_html') }}">Programming</a>
      </li>
            <li class="nav-item text-white bg-secondary">
        <a class="nav-link gold_hover" href="{{ url_for('pj_personal') }}">Projects</a>
      </li>
      <li class="nav-item text-white bg-secondary">
        <a class="nav-link gold_hover" href="{{ url_for('cs_linux') }}">Computer Science</a>
      </li>    
    </ul>
  </div>
</nav>


