<nav class="navbar navbar-expand-sm " style="background-color: #545860;">
  <div class="container-fluid" style="background-color: #545860;">
    <ul class="nav justify-content-start">
        <li class="nav-item text-white" style="background-color: #545860;">
            <a class="nav-link red_hover" href="{{ url_for('prog_html')}}">Html</a>
        </li>
        <li class="nav-item text-white" style="background-color: #545860">
          <a class="nav-link red_hover" href="{{ url_for('prog_js')}}">Js</a>
        </li>
        <li class="nav-item text-white" style="background-color: #545860">
          <a class="nav-link red_hover" href="{{ url_for('prog_php')}}">PHP</a>
        </li>
        <li class="nav-item text-white" style="background-color: #545860;">
            <a class="nav-link red_hover" href="{{ url_for('prog_sql')}}">Sql</a>
        </li>
        <li class="nav-item text-white" style="background-color: #545860;">
          <a class="nav-link red_hover" href="{{ url_for('prog_css')}}">Css</a>
        </li>
        <li class="nav-item text-white" style="background-color: #545860;">
          <a class="nav-link red_hover" href="{{ url_for('prog_python')}}">python</a>
        </li>
        <li class="nav-item text-white" style="background-color: #545860;">
          <a class="nav-link red_hover" href="{{ url_for('prog_java')}}">java</a>
        </li>
        <li class="nav-item text-white" style="background-color: #545860;">
          <a class="nav-link red_hover" href="{{ url_for('prog_c')}}">C</a>
        </li>
        <li class="nav-item text-white" style="background-color: #545860;">
          <a class="nav-link red_hover" href="{{ url_for('prog_bash')}}">Bash</a>
        </li>
        <li class="nav-item text-white" style="background-color: #545860;">
          <a class="nav-link red_hover" href="{{ url_for('prog_git')}}">Git</a>
        </li>
    </ul>
  </div>
</nav>
</body>
</html>
