{% include "header.html" %}
{% include "prog_header.html" %}
<div class="row justify-content-md-left container d-flex mx-auto">
    <h1 class="text-left h1_big">SQL</h1>
</div>
<div class="row justify-content-left container d-flex mx-auto">
    <p class="text-left main_content">
    To note down stuff i don't remember when looking <a href="https://www.w3schools.com/sql" target="_blank" class="golden_link" >at w3 schools</a> and to act as a cheatsheet
    </p>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
    <h2 class="h2_big text-left" id="theory">Theory</h2>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
    <ul>
    <li class="text-left main_content">Doing source database schema if one with the same name exists replaces the database with the schema </li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    </ul>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
    <h2 class="h2_big text-left" id="theory">Statements and keywords</h2>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
    <ul>
    <li class="text-left main_content"><code>source</code>used to load a database schema or data or both</li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    </ul>
</div>
</body>
</html>