{% include "header.html" %}
{% include "prog_header.html" %}
</body>
</html>{% include "header.html" %}
{% include "prog_header.html" %}
<div class="row justify-content-md-left container d-flex mx-auto">
  <h1 class="text-left h1_big">Pyhton</h1>
</div>
<div class="row justify-content-left container d-flex mx-auto">
  <p class="text-left main_content">To have personal notes from <a href="https://www.w3schools.com/c" target="_blank" class="golden_link" >w3 schools</a> to act as a cheatsheet</p>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <h2 class="h2_big text-left" id="theory">Theory</h2>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left main_content">Interpeted, object oriented languaje</li>
    <li class="text-left main_content">Python uses indentation to indicate a block of code.</li>
    <li class="text-left main_content">Same number of spaces must be used in indented block of code</li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
  </ul>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <h2 class="h2_big text-left" id="theory">Basic</h2>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left main_content">Variable types</li>
    <ul>
      <li class="text-left main_content">int <code>x = 4</code></li>
      <li class="text-left main_content">float <code>y = 4.5</code></li>
      <li class="text-left main_content">complex <code></code></li>
      <li class="text-left main_content">list</li>
      <li class="text-left main_content">tuple</li>
      <li class="text-left main_content">range</li>
      <li class="text-left main_content">str</li>
      <li class="text-left main_content">dict</li>
      <li class="text-left main_content">set</li>
      <li class="text-left main_content">frozenset</li>
      <li class="text-left main_content">bool</li>
      <li class="text-left main_content">bytes</li>
      <li class="text-left main_content">bytearray</li>
      <li class="text-left main_content">memoryview</li>
    </ul>
    <li class="text-left main_content"># means a single line comment</li>
    <li class="text-left main_content">triple double quotes or triple single lines of code mean a multiline comment and can be used in strungs</li>
    <li class="text-left main_content">strings can be defined with single or doube quotes</li>
    <li class="text-left main_content">Casting in python is used so that the passed value is of the type desired</li>
    <ul>
      <li class="text-left main_content">int()</li>
      <li class="text-left main_content">float()</li>
      <li class="text-left main_content">str()</li>
      <li class="text-left main_content">list()</li>
      <li class="text-left main_content">tuple()</li>
      <li class="text-left main_content">set()</li>
      <li class="text-left main_content">dict()</li>
    </ul>
    <li class="text-left main_content"><code>x, y, z = "Orange", "Banana", "Cherry"</code> Multiple values to multiple variables</li>
    <li class="text-left main_content"><code>x = y = z = "Orange"</code> Multiple variables to single value</li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
  </ul>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <h2 class="h2_big text-left" id="theory">Theory</h2>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left main_content"><code>print(a,b.sep="  ",end="\n")</code> sep changes the in between element separation and end the end string default is \n</li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
  </ul>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <h2 class="h2_big text-left" id="theory">Theory</h2>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
  </ul>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <h2 class="h2_big text-left" id="theory">Theory</h2>
</div>
<div class="row justify-content-md-left container d-flex mx-auto">
  <ul>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
    <li class="text-left main_content"></li>
  </ul>
</div>
</body>
</html>